
# ignored folder
**/slprj/
**/*.slxc


00-Electronics/01-Op-amp/TEX/**/*.*
!00-Electronics/01-Op-amp/TEX/**/*.tex
!00-Electronics/01-Op-amp/TEX/**/*.jpg
00-Electronics/02-Oscillator/TEX/**/*.*
!00-Electronics/02-Oscillator/TEX/**/*.tex
!00-Electronics/02-Oscillator/TEX/**/*.jpg

00-Electronics/LTspice/op-amps/*
!00-Electronics/LTspice/op-amps/*.asc