
# ignored folder
**/slprj/
**/*.slxc


00-Electronics/simulink/Opamp/differentiatorEquations/differentiatorOpamp.*
!00-Electronics/simulink/Opamp/differentiatorEquations/differentiatorOpamp.tex
00-Electronics/simulink/Opamp/integratorEquations/integratorOpamp.*
!00-Electronics/simulink/Opamp/integratorEquations/integratorOpamp.tex
00-Electronics/simulink/Opamp/logAndAntilogAmplifier/logAndAntiLog.*
!00-Electronics/simulink/Opamp/logAndAntilogAmplifier/logAndAntiLog.tex
00-Electronics/simulink/oscillator/RC_phase_shift/RC_phase_shift.*
!00-Electronics/simulink/oscillator/RC_phase_shift/RC_phase_shift.tex